/* Buttons */
.button {
  position: relative;
  display: inline-block;
  width: auto;
  height: remcalc(45);
  padding: 0 remcalc(24);
  line-height: remcalc(45);
  font-family: $secondary-font-stack;
  font-size: remcalc(14);
  text-decoration: none;
  letter-spacing: remcalc(2);
  cursor: pointer;
  box-shadow: 0 0 0 0 transparent;
  z-index: $second-level-z-index;

  /* Primary - White Button */
  &.primary {
    background: $white;
    color: $black;
    font-weight: $bold;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.glitchy {
    &:hover,
    &:focus {
      @include text-glitch('glitch', 17, black, white, $glitch-red, $glitch-cyan, 185, 45);
    }
  }

  &.ghosty-hover {
    transition: box-shadow .3s $cubic, background .3s $cubic, color .2s $cubic;

    &:hover {
      box-shadow: inset 0 0 0 2px $white;
      background: transparent;
      color: $white;
    }
  }
}
