/* Hero */
.main-hero {
  position: relative;
  width: 100%;
  padding: remcalc(112) remcalc(20) remcalc(40);
  color: $white;
  text-align: center;
  background: $black url('/img/sm-head.jpg') center / cover no-repeat;
  z-index: $default-z-index;

  @include breakpoint(small) {
    padding: remcalc(172) remcalc(40) remcalc(80);
    background: $black; /* @TODO: Fix for bigger image */
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: remcalc(180);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
    z-index: $minus-z-index;

    @include breakpoint(small) {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 70%);
    }
  }
}

/* CTa Wrapper */
.hero-cta {
  padding: 0 0 remcalc(44);

  @include breakpoint(small) {
    padding: 0 0 remcalc(80);
  }
}

/* Heading */
.hero-header {
  display: block;
  margin: 0 auto remcalc(20);
  text-align: center;
  font-family: $secondary-font-stack;

  .smaller,
  .larger {
    display: block;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: $bold;
  }

  .smaller {
    font-size: remcalc(10);
    letter-spacing: remcalc(8);

    @include breakpoint(small) {
      font-size: remcalc(18);
      letter-spacing: remcalc(12);
    }
  }

  .larger {
    font-size: remcalc(18);
    letter-spacing: remcalc(12);

    @include breakpoint(small) {
      font-size: remcalc(36);
      letter-spacing: remcalc(22);
    }
  }
}

/* Subheader */
.hero-claim {
  display: block;
  margin: 0 auto remcalc(32);
  text-align: center;
  line-height: 1.56;
  font-size: remcalc(12);

  @include breakpoint(small) {
    margin: 0 auto remcalc(44);
    font-size: remcalc(18);
  }
}

/* Scroll Down */
.scroll-to-page {
  position: relative;
  display: block;
  margin: 0 auto remcalc(40);
  width: remcalc(32);
  height: remcalc(32);
  font-size: 0;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;

  @include breakpoint(small) {
    margin: 0 auto remcalc(92);
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: remcalc(14);
    height: remcalc(2);
    background: $white;
  }

  &:before {
    transform: translateY(-50%) translateX(34%) rotate(45deg);
  }

  &:after {
    transform: translateY(-50%) translateX(96%) rotate(-45deg);
  }
}
