/* Navigation Component */
/* Navigation Animate */
@keyframes dropshadowglitch {
  0% { filter: drop-shadow(1px 1px 0 $glitch-red) drop-shadow(-1px -3px 0 $glitch-cyan); }
  10% { filter: drop-shadow(3px -2px 0 $glitch-red) drop-shadow(2 1px 0 $glitch-cyan); }
  30% { filter: drop-shadow(0 0 0 $glitch-red) drop-shadow(0 0 0 $glitch-cyan); }
  50% { filter: drop-shadow(0 0 0 $glitch-red) drop-shadow(0 0 0 $glitch-cyan); }
  70% { filter: drop-shadow(2px 4px 0 $glitch-red) drop-shadow(-3px -1px 0 $glitch-cyan); }
  80% { filter: drop-shadow(1px 1px 0 $glitch-red) drop-shadow(-1px -2px 0 $glitch-cyan); }
  100% { filter: drop-shadow(0 0 0 $glitch-red) drop-shadow(0 0 0 $glitch-cyan); }
}

/* Navigation Structure */
.dt-navigation {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: remcalc(12) remcalc(20);
  color: $white;
  z-index: $navigation-z-index;
  transition: background .4s $cubic;

  @include breakpoint(medium) {
    padding: remcalc(16) remcalc(40);
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 0;
    background: $blackish;
    z-index: $first-level-z-index;
    transition: height .4s $cubic;
  }

  /* Home Link */
  .go-to-home {
    position: relative;
    z-index: $second-level-z-index;

    .dt-logotype {
      transition: width .4s $cubic, height .4s $cubic;
    }

    /* State */
    &:hover {
      .dt-logotype {
        animation: dropshadowglitch .6s linear infinite;
      }
    }
  }

  /* Open Menu Trigger */
  .menu-trigger {
    position: relative;
    font-size: remcalc(14);
    font-family: $secondary-font-stack;
    font-weight: $bold;
    letter-spacing: remcalc(4);
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    transition: color .6s $cubic;
    z-index: $second-level-z-index;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: remcalc(-10);
      width: 0;
      height: 100%;
      background: $white;
      transition: width .4s $cubic;
      z-index: $minus-z-index;
    }

    &:hover,
    &:focus {
      color: $black;

      &:before {
        width: calc(100% + 16px);
      }
    }
  }
}

/* Main Menu */
.main-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  padding: remcalc(88) remcalc(20) remcalc(40);
  background: $blackish;
  z-index: $minus-z-index;

  .main-menu-item {
    position: relative;
    display: block;
    margin: 0 0 remcalc(24);
  }

  .main-menu-anchor {
    color: $white;
    font-family: $secondary-font-stack;
    font-size: remcalc(14);
    font-weight: $extrabold;
    letter-spacing: remcalc(10);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    &:before {
      content: attr(data-num);
      display: inline-block;
      width: remcalc(32);
      font-family: $primary-font-stack;
      letter-spacing: 0;
      color: $gray;
    }
  }
}

/* Scrolling Navigation */
.is-scrolling {
  .dt-navigation {
    &:before {
      height: 100%;
    }

    .go-to-home {
      .dt-logotype {
        width: remcalc(28);
        height: remcalc(28);
      }
    }
  }
}

/* Menu Open */
.is-menu-open {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
