/* Offer */
.offers-wrapper {
  .offer-box {
    @include breakpoint(small) {
      display: flex;
      justify-content: space-between;
    }

    &:not(:last-child) {
      margin: 0 0 remcalc(52);
    }

    /* Modifier */
    &.training-offer {
      .offer-image-wrapper {
        @include breakpoint(small) {
          order: 2;
          text-align: right;
        }
      }

      .offer-content-box {
        @include breakpoint(small) {
          order: 1;
          padding: remcalc(52) remcalc(28) 0 0;
        }
      }
    }
  }
}

/* Offer Image */
.offer-image-wrapper {
  @include breakpoint(small) {
    flex: 0 0 remcalc(360);
  }

  .offer-heading {
    position: relative;
    margin: 0 0 remcalc(-24);
    font-family: $secondary-font-stack;
    font-size: remcalc(20);
    font-weight: $extrabold;
    line-height: 1.32;
    letter-spacing: remcalc(4);
    text-transform: uppercase;
    z-index: $third-level-z-index;

    @include breakpoint(small) {
      font-size: remcalc(28);
    }
  }

  .offer-box-image {
    display: block;
    width: 100%;
    margin: 0 0 remcalc(36);
  }
}

/* Offer Content */
.offer-content-box {
  font-size: remcalc(12);

  @include breakpoint(small) {
    flex: 0 1 remcalc(480);
    padding: remcalc(52) 0 0 remcalc(28);
  }

  .offer-content-heading {
    margin: 0 0 remcalc(4);
    font-weight: $extrabold;
  }
}
