/* Partners */
.partners-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: remcalc(16) 0 0;
  z-index: $first-level-z-index;

  .partner-item {
    flex: 0 0 remcalc(120);
    margin: remcalc(60) 0 0;

    @include breakpoint(small) {
      flex: 0 0 30%;
    }

    .partner-logo {
      display: block;
      width: 100%;
      max-width: remcalc(120);
      height: 100%;

      @include breakpoint(small) {
        max-width: remcalc(320);
      }
    }
  }
}
