/* Portfolio Section */
.portfolio-wrapper {
  color: $white;
}

.portfolio-item {
  display: block;
  position: relative;
  color: $white;
  cursor: pointer;
  text-decoration: none;

  .portfolio-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: remcalc(20);
    font-family: $secondary-font-stack;

    @include breakpoint(small) {
      display: flex;
      flex-direction: column;
    }

    .vid-number {
      font-size: remcalc(10);
      font-weight: $bold;
      letter-spacing: remcalc(4);
    }

    .video-title {
      margin: auto 0 0;
      font-family: $secondary-font-stack;
      font-size: remcalc(20);
      font-weight: $bold;
      text-transform: uppercase;
      letter-spacing: remcalc(2);
    }

    .portfolio-video-button {
      position: absolute;
      bottom: remcalc(20);
      right: remcalc(20);
      padding: remcalc(12) remcalc(16);
      font-size: remcalc(12);
      font-weight: $bold;
      letter-spacing: remcalc(1);
      text-transform: uppercase;
      border: 1px solid $white;
      transition: background .4s $cubic, color .4s $cubic;

      .portfolio-video-button-label {
        transition: transform .3s $cubic;

        & > svg {
          display: inline-block;
          margin: 0 0 0 remcalc(6);
          transition: fill .2s $cubic, transform .2s $cubic;
        }
      }

      /* State */
      &:hover {
        background: $white;
        color: $black;

        .portfolio-video-button-label {
          & > svg {
            display: inline-block;
            margin: 0 0 0 remcalc(6);
            transform: translateX(3px);
            fill: $black;
          }
        }
      }
    }
  }

  .portfolio-vid-placeholder {
    display: block;
    width: 100%;
    height: 100%;
    max-height: remcalc(160);
    object-fit: cover;

    @include breakpoint(small) {
      max-height: remcalc(320);
    }
  }
}
