/* Accent Text at Bottom */
.partners-accent-finisher,
.team-accent-finisher {
  position: absolute;
  z-index: $default-z-index;
  pointer-events: none;
}

/* Partners */
.partners-accent-finisher {
  bottom: -15%;
  left: -35%;
  width: 200%;

  @include breakpoint(small) {
    bottom: -35%;
  }
}

/* Team */
.team-accent-finisher {
  bottom: -50%;
  left: -50%;
  width: 200%;

  @include breakpoint(small) {
    bottom: -28%;
    left: -20%;
    width: 140%;
  }
}
