/* Sections */
.regular-section {
  position: relative;
  padding: remcalc(88) remcalc(16);
  overflow: hidden;

  &.white {
    background: $white;
    color: $black;
  }

  &.black {
    background: $black;
    color: $white;
  }
}
