/* Sections Opening Title and Subtitles */
.section-opening {
  text-align: left;

  @include breakpoint(small) {
    display: flex;
  }

  .section-title {
    margin: 0 0 remcalc(16);
    font-family: $secondary-font-stack;
    font-size: remcalc(20);
    font-weight: $extrabold;
    text-transform: uppercase;
    letter-spacing: remcalc(10);

    @include breakpoint(small) {
      flex: 0 0 40%;
    }
  }

  .section-subheading {
    display: block;
    font-size: remcalc(12);
    line-height: 1.46;

    @include breakpoint(small) {
      flex: 0 0 55%;
      margin: 0 0 0 auto;
      font-size: remcalc(14);
    }
  }
}
