/* Team */
.team-members-wrapper {
  padding: remcalc(48) 0 0;
  text-align: center;

  @include breakpoint(small) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .team-column {
    @include breakpoint(small) {
      flex: 0 0 30%;
    }

    &:not(:last-child) {
      margin: 0 0 remcalc(20);

      @include breakpoint(small) {
        margin: 0;
      }
    }

    &:nth-child(2) {
      @include breakpoint(small) {
        padding: remcalc(30) 0 0;
        margin: 0 0 remcalc(28);
      }
    }

    &:nth-child(3) {
      @include breakpoint(small) {
        padding: remcalc(10) 0 0;
      }
    }
  }

  .team-member-item {
    position: relative;

    .team-image-wrapper {
      position: relative;
      overflow: hidden;

      .team-image {
        position: relative;
        width: 100%;
        z-index: $second-level-z-index;
        transition: opacity .3s $cubic;
      }

      & > canvas {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        z-index: $first-level-z-index;
      }

      /* State */
      &:hover {
        .team-image {
          opacity: 0;
        }
      }
    }

    .team-member-details {
      position: relative;
      transform: translateY(-16px);
      z-index: $third-level-z-index;

      .team-member-name {
        margin: 0 0 remcalc(4);
        font-family: $secondary-font-stack;
        font-weight: $extrabold;
        letter-spacing: remcalc(4);
        text-transform: uppercase;
        text-align: center;
      }

      .team-member-location {
        font-size: remcalc(12);
        text-align: center;
      }
    }
  }

  .button {
    margin: 0 auto;
  }
}
