@mixin text-glitch($name, $intensity, $text-color, $background, $highlight-color-1, $highlight-color-2, $width, $height) {

  color: $text-color;
  position: relative;
  $steps: $intensity;

  @at-root {
    @for $i from 1 through 2 {
      @keyframes #{$name}-anim-#{$i} {
        @for $i from 0 through $steps {
          #{percentage($i*(1/$steps))} {
            clip: rect(
              random($height)+px,
              $width+px,
              random($height)+px,
              0
            );
          }
        }
      }
    }
  }

  &:before,
  &:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: $background;
    clip: rect(0, 0, 0, 0);
  }

  &:after {
    left: 2px;
    text-shadow: -1px 0 $highlight-color-1;
    animation: #{$name}-anim-1 3s infinite linear alternate-reverse;
  }

  &:before {
    left: -2px;
    text-shadow: 2px 0 $highlight-color-2;
    animation: #{$name}-anim-2 4s infinite linear alternate-reverse;
  }
}
