/* *********************** */
/* Fonts, Colors & Shadows */
/* *********************** */

/* Font Stack and Sizes */
$primary-font-stack: 'Crimson Text', serif;
$secondary-font-stack: 'Montserrat', sans-serif;
$base-size: 16 !default;
$font-size: ($base-size * 1px) !default;

/* Primary Colors */
$black: #000;
$blackish: #111;
$white: #fff;
$lightgray: #b6b6b6;
$gray: #555;

/* Glitch Color */
$glitch-red: #f7017b;
$glitch-cyan: #00ffd3;

/* Font Weight */
$regular: 400;
$bold: 700;
$extrabold: 800;

/* Default Transition */
$cubic: cubic-bezier(.17, .67, .47, 1) !default;

/* z-index */
$navigation-z-index: 100 !default; /* Top Level - 10 */
$ninth-z-index: 90 !default; /* Ninth Level - 9 */
$fifth-level-z-index: 40 !default; /* Fifth Level - 5 */
$fourth-level-z-index: 40 !default; /* Fourth Level - 4 */
$third-level-z-index: 40 !default; /* Third Level - 3 */
$second-level-z-index: 30 !default; /* Second Level - 2 */
$first-level-z-index: 20 !default; /* First Level - 1 */
$default-z-index: 1 !default; /* Normal Elements */
$minus-z-index: -1 !default /* Elements :before, :after under the regular element */
